.div-flex {
  display: flex;
  height: 500px;
}

.divlft-img {
  height: 500px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.div-img {
  height: 500px;
  margin-left: 200px;

  left: 0px;
  top: 0px;
  z-index: -1;
}
.button-div {
  margin-left: 100px;
  font-size: 25px;
}
.header-button {
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: white;
}
