.brand-div {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  height: 200px;
}
.flex-div {
  display: flex;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.Shop-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.Shop-row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.Shop-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .Shop-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.Shop-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Shop-img {
  height: 200px;
  width: 200px;
}
.BlackSaleDay-img {
  height: 300px;
  width: 100%;
}
