@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;

  background-image: linear-gradient(135deg, #a3d5e9 10%, #ffffff 100%);
  background-repeat: no-repeat;
}
